/*Banner Styles*/

.image .inner {
    padding: 2rem 1.5rem;
}

.content .inner h1,
.content .inner p,
.content .inner button {
    margin: 1rem 0;
}

.content .inner h1 {
    font-size: 2.5rem;
}

.content .inner p {
    font-size: 1.5rem;
    line-height: 1.3;
}

.content .inner button {
    background-color: #444;
    color: #fff;
    width: 100%;
    padding: 0.5rem 0;
    font-size: 1.6rem;
    font-weight: 300;
}