/*Information Styles*/

.featured .inner {
    padding: 2rem 1.5rem;
}

.featured .inner .image img {
    width: 100%;
    height: auto;
    margin-bottom: 2rem;
}

.featured .inner h1 {
    font-size: 2.5rem;
}

.featured .inner p {
    margin: 1.5rem 0;
    font-size: 1.5rem;
    line-height: 1.3;
    font-weight: 300;
}

.featured .inner span {
    font-weight: 500;
}